/*Elements accross entire site*/
body {
  font-family: 'Roboto Mono', serif;
  color: #333333;
  background-color: #fcf7f8;
}

header {
  font-family: 'Roboto Slab', serif;
  font-size: 75px;
  color: #333333;
  text-align: center;
  background-color: #E7E9Ef;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 75px;
  color: #333333;
  text-align: center;
  padding: 10px 14px;
  background-color: #E7E9Ef;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
  color: #333333;
  text-align: center;
  padding: 10px 14px;
  background-color: #E7E9Ef;
}

h3 {
  color: #333333;
  padding: 10px 14px;
  background-color: #FFFFFF;
}

/*footer*/
.footer {
  background-color: #e3002b;
  font-family:'Roboto Slab';
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  width: 50px;
  height: auto;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.footer-links li {
  margin: 0 15px;
  border-radius: 5px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
  background-color: #b60022;
}

/*Elements for nav bar*/
.navbar {
  font-family:'Roboto Slab', serif;
  color: #333333;
  background-color: #e3002b;
  overflow: hidden;
  display: flex;
  justify-content: right;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;  
}

.nav-list li {
  margin: 0 10px;
}

.nav-list a {
  display: block;
  color: #FFFFFF;
  text-align: left;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 5px;
  background-color: #e3002b;
  transition: background-color 0.3s ease;
}

.nav-list a:hover {
  background-color: #b60022;
  color: #FFFFFF;
}

.dropdown-menu {
  list-style-type: none;
  color: #333333;
  display: none;
  position: absolute;
  background-color: #E7E9Ef;
  z-index: 1;
  border-radius: 5px;
  padding: 0;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu a {
  padding: 10px 14px;
  border-radius: 0;
}

.nav-list li:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a:hover {
  background-color: #b60022;
}

/*Elements for index.html*/
.index_p {
  font-family: 'Roboto Mono', serif;
  color: #333333;
  margin: 0 50px;
}

.timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeline-button {
  font-family: 'Roboto Slab', serif; 
  font-size: 25px;
  color: #333333;
  background-color: #E7E9Ef;
  border: none;  
  border-radius: 5px;
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  margin: 4px 2px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.timeline-button:hover {
  background-color: #b60022;
  color: #FFFFFF;
}

/*Elements for artists page*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
}

.paragraph {
  font-family: 'Roboto Mono', serif;
  color: #333333;
  padding: 50px 20px;
}

figure {
  font-family: 'Roboto Mono', serif;
  color: #333333;
  background-color: #ffffff;
  margin-top: 50px;
  padding: 100px 20px;
}

figure img {
  max-width: 100%;
}

blockquote{
  font-family: 'Roboto Mono', serif;
  color: #333333;
  background-color: #E7E9Ef;
  padding: 20px;
}

blockquote img {
  max-width: 100%;
}

/*Responsive*/
@media (max-width: 800px) {
  header, h1, h2 {
    font-size: 10vw;
  }
  .wrapper {
    grid-template-columns: 400px;
    grid-template-rows: auto;
    font-size: 10vw;
  }
  .paragraph, figure, blockquote {
    padding: 10px;
    font-size: 14px;
  }
}

/* media query for most phones */

@media (max-width: 480px) {
    header, h1, h2 {
        font-size: 12vw;
    }
    .navbar {
        flex-direction: column;
        padding: 10px 0;
    }
    .nav-list {
       width: 100%;
        text-align: center;
    }
    .nav-list a{
        padding: 10px;
        font-size: 1.2em;
    }
    .content{
        padding: 15px;
    }

    .timeline{
        width: 100%;
        padding: 0;
    }

    .footer=content {
        flex-direction: column;
        text-align: center;
    }
}
/* CSS for Overview section on About */
.Overview {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 20px;
    text-align: justify;
}
.Overview p {
    text-align: justify;
}

/* CSS for LAL Web section on About */

.Team {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 20px;
    text-align: justify;
}

.Team p{
    text-align: justify;
}

/* CSS for content on Further reading pg */

.Info{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 20px;
    text-align: justify;
}

.Info p {
    text-align: justify;
}

